p:first-of-type
  margin-top: 12px

p:last-of-type
  margin-bottom: 0 !important

.section-title
  font-family: "Courier New", monospace
  font-weight: normal

// TODO: refactor this shit

.s-text--primary
  color: #FFCE3E

.s-text--secondary
  color: #FEE856

.s-bg--primary
  background-color: #FFCE3E

.s-bg--secondary
  background-color: #FEE856

.s-bg--primary-dark
  background-color: #1A1A1A
  color: white

.s-bg--secondary-dark
  background-color: #000000
  color: white

.v-icon
  .s-bg--primary-dark.text--white &,
  .s-bg--secondary-dark.text--white &
    color: white !important

  .s-bg--primary-dark &,
  .s-bg--secondary-dark &
    color: rgba(255, 255, 255, 0.54) !important
